<!DOCTYPE html>
<h2>Create Station</h2>
<div class="row">
    <div class="col-sm-12 row">
        <div class="col-sm-2">
            Name:
        </div>
        <div class="col-sm-10">
            <input type="text" ng-model="stationName" ng-change="checkName()">
        </div>
    </div>

    <div class="col-sm-12 row">
        <div class="col-sm-2">
            Position X Coordinate:
        </div>
        <div class="col-sm-10">
            <input type="number" ng-model="stationPositionX">
        </div>
    </div>

    <div class="col-sm-12 row">
        <div class="col-sm-2">
            Position Z Coordinate:
        </div>
        <div class="col-sm-10">
            <input type="number" ng-model="stationNamePositionZ">
        </div>
    </div>
    <div class="col-sm-12">
        <button ng-disabled="disableCreateButton" type="button" ng-click="createStation()"> addStation </button>{{errorMessage}}
    </div>

</div>