<nav id="sidebar" >
    <div class="sidebar-header">
        <h3>bootstrap sidebar</h3>
    </div>
    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Station</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="spacer">
                    <button type="button" ng-click="navbarInteraction('createStation')" class="btn btn-info btn-block">
                        <i>
                            <span>Create</span>
                        </i>
                    </button>
                </li>
                <li class="spacer">
                    <button type="button" ng-click="navbarInteraction('editStation')" class="btn btn-info btn-block">
                        <i>
                            <span>Edit</span>
                        </i>
                    </button>
                </li>
                <li class="spacer">
                    <button type="button" ng-click="navbarInteraction('deleteStation')" class="btn btn-info btn-block">
                        <i>
                            <span>Delete</span>
                        </i>
                    </button>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenuStation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Route</a>
            <ul class="collapse list-unstyled" id="pageSubmenuStation">
                <li class="spacer">
                    <button type="button" ng-click="navbarInteraction('createRoute')" class="btn btn-info btn-block">
                        <i>
                            <span>Create</span>
                        </i>
                    </button>
                </li>
                <li class="spacer">
                    <button type="button" ng-click="navbarInteraction('editRoute')" class="btn btn-info btn-block">
                        <i>
                            <span>Edit</span>
                        </i>
                    </button>
                </li>
                <li class="spacer">
                    <button type="button" ng-click="navbarInteraction('deleteRoute')" class="btn btn-info btn-block">
                        <i>
                            <span>Delete</span>
                        </i>
                    </button>
                </li>
            </ul>
        </li>
    </ul>

</nav>